<table>
    <tbody>
        <tr>
            <th>Mémoire</th>
            <td>{{ usage }}</td>
            <td>Mo</td>
        </tr>
        <tr>
            <th>Charge</th>
            <td>{{ proc[0] }} {{ proc[1] }} {{ proc[2] }}</td>
            <td>_</td>
        </tr>
    </tbody>
</table>

